.footer {
    background-color: black;

    &__col {
        @include margin(0 5rem);
    }

    &__a {
        text-decoration: none;
        transition: all 0.3s ease;
    }

    &__a:hover {
        font-size: 1.2rem;
        color: $hoverLink;
    }
}

.firma {
    margin: 2rem 0;
    padding-bottom: 2rem;
    text-align: center;
    color: azure;
}
footer {
    background-color: $backgroundNavs;
}



@media (max-width: 480px){
    .footer {
        &__col {
            margin: 0;
        }

    }
    .firma {
        padding: 1rem;
        font-size: small;
        @include margin(1rem);
    }
}

