footer {
    background-color: black;

.footerNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}
.navRedesFooter {
    display: flex;
    flex-direction: row; 
    justify-content: right;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    padding: 20px;
    border: 40px;
}

.itemNavRedes {
    margin-right: 20px;
}
.firma {
    text-align: center;
    color: azure;
    padding-bottom: 20px;

} 
}

@media (max-width: 480px){
    footer {
        .footerNavBar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navRedesFooter {
            display: flex;
            justify-content: center;

        }
    }
    
    
}

