.profesionales {

    &__title {
        text-align: center;
    
    }

    &__texto {
        text-align: justify;
        line-height: 1.9rem;
        padding: 3rem 1rem 0 1rem;
    }

    &__img {
        width: 100%;
        border-radius: 7px;
        height: 23rem;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .profesionales {
        &__texto {
            width: 90%;
            margin-left: 1rem;
        }

        &__img {
            width: 90%;
            margin-left: 1rem;
            margin-right: 0rem;
        }
    }

}