nav  {
    background-color: $backgroundNavs;
    
.nav-link {
    color: white;
    text-decoration: none;
}
}


.navegacion {

    &__li {
        margin: 0 0 0 6rem;
    }

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    font-size: 1.2rem;
    color: $hoverLink;
}



}

@media (max-width: 480px) {
    .navegacion {
        &__li {
            margin: 0;
        }

        .logo {
            transition: all 0.3s ease;
        
        }
        .logo:active {
            height: 7rem;
        }
    }
}