header {
    background-color: black;
    height: 150px;

    .logo {
        display: inline-block;
    }
}

.navBarResponsive {
    display: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    .itemNavBar {
        text-decoration: none;
        color: azure;
    }
}

.navRedes {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 10px;
    margin-right: 20px;

    .itemNavRedes {
        border: 40px;
        padding-left: 20px;
    }



}
@media (max-width: 480px){
    .navBar { display: none;}
    div.logo {display: none;}
    .navBarResponsive { display: inline;}
    }

