h2 {
    text-align: center;
    letter-spacing: 1rem;
    margin: 2rem;
}
.nosotros {
    margin-top: 2rem;
        

    &__title {
        letter-spacing: 1rem;
        text-align: center;
    }

    &__historia {
        text-align: justify;
        line-height: 1.9rem;
        padding: 1.25rem;
    }


.barberia {
    margin: 2rem 0;





&__historia {
        text-align: justify;
        padding: 1.25rem;
        line-height: 1.9rem;

    }


    &__img {
        margin-bottom: 3rem;
    }
    
}

.title {
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1rem;
}

}


@media (max-width: 480px) {
    
    
    .nosotros {

        
        

        &__texto {
            width: 22rem;
            padding: 0;
        }

        &__img {
            width: 90%;
            height: 15rem;
            margin-bottom: 1rem;
        }
    }
    
    .barberia {
        

        &__img {
            width: 22rem;
            height: 15rem;
            margin-bottom: 1rem;
        }

        &__texto {
            width: 22rem;

        }

        &__historia {
            
            text-align: justify;


        }
    }
}